body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;

}

.clearfix{
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}


#content {
  width: 100%;
  height: 1000px;
  }

#submenu {
  padding-top: 2.5em;
  padding-right: 25px;
  float: rigth;
  text-align: right;
  font-size: 12px;
}

#submenu .activo{
  font-weight: bold;
}

.titulo {
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-family: fantasy;
  color: #0A5597;
  margin-top: -20px;
}

#comparador {
  display: flex;
  padding-bottom: 10px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  }

.recuadro {
  width: 48%;
  height: 400px;
  margin: 1;
  float: left;
}

.recuadroMemoria {
  width: 48%;
  height: 400px;
  margin: 1;
  float:left;
  width:97.9%;
  margin-top:0.5em;
}

.recuadroCpu {
  width: 48%;
  height: 250px;
  margin: 1;
  float:left;
  width:97.9%;
  margin-top:0.5em;
}


footer {
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  color: grey;
}