<div id="submenu"> <span class="activo">Comparativa </span></div>

<div class="titulo" *ngIf="uuaa">	
	<h1>{{name}} - {{uuaa.description}}</h1>
</div>

<div> 
	<form id="comparador" #myForm="ngForm" novalidate> Comparar el día - 
	    <my-date-picker name="mydateF" [options]="myDatePickerOptions" (dateChanged)="onDateChangedFrom($event)"
	                    [(ngModel)]="from" required [locale]="locale"></my-date-picker>
	 	- (F) con -<my-date-picker name="mydateT" [options]="myDatePickerOptions" (dateChanged)="onDateChangedTo($event)"
	                    [(ngModel)]="to" required [locale]="locale"></my-date-picker> - (T)
	</form> 
</div>

<fieldset class="recuadro"> 
	<div id="Time"></div>
</fieldset>
<fieldset class="recuadro"> 
	<div id="Throughput"></div>
</fieldset>
<fieldset *ngIf="visibleCPU" class="recuadroCpu"> 
	<div id="CPU"></div>
</fieldset>
<fieldset *ngIf="visibleMemoria" class="recuadroMemoria"> 
	<div id="Memory"></div>
</fieldset>
<div *ngIf="visibleCPUOficinas">
	<fieldset class="recuadroMemoria"> 
		<div id="cpuPar"></div>
	</fieldset>
	<fieldset class="recuadroMemoria"> 
		<div id="cpuImpar"></div>
	</fieldset>
</div>
<div class="clearfix"></div>