<header id="header">
	<nav>
	  <ul id="menu">
	  	<li><a>Seguimiento</a></li>
	  	<li><a>Net Particulares</a>
	  		<ul>
	  			<li><a>KQOF-Frontal</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/net/KQOF']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>ENPS-Servicion multicanal</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/net/ENPS']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>ESMB-Servicios básicos</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/net/ESMB_NET']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a [routerLink]="['/comparativa/net/v_MQ']">Visión Máquinas</a></li>
	  		</ul>
	  	</li>
	  	<li><a>Net Cash</a>
	  		<ul>
	  			<li><a>KYOP-Portal</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/netcash/KYOP']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>KYGU-Perfilado de usuarios</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/netcash/KYGU']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>KYOS-Gestión de saldos</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/netcash/KYOS']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>KYFB-Módulo de firmas</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/netcash/KYFB']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a [routerLink]="['/comparativa/netcash/V_MQ']">Visión Máquinas</a></li>
	  		</ul>
	  	</li>
	  	<li><a>Móvil</a>
	  		<ul>
	  			<li><a>ENPP-Frontal</a>
	  				<UL>
	  					<li><a  [routerLink]="['/comparativa/mobile/ENPP']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>ENPS-Servicion multicanal</a>
	  				<UL>
	  					<li><a [routerLink]="['/comparativa/mobile/ENPS']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a>ESMB-Servicios básicos</a>
	  				<UL>
	  					<li><a  [routerLink]="['/comparativa/mobile/ESMB']">Comparativa</a></li>
	  					<li><a>Informe</a></li>
	  				</UL>
	  			</li>
	  			<li><a [routerLink]="['/comparativa/mobile/V_MQ']">Visión Máquinas</a></li>
	  		</ul>
	  	</li>
	  	<li><a>Oficinas</a>
	  		<ul>
	  			<li><a [routerLink]="['/comparativa/office/EECC']">Escenarios comerciales</a></li>
	  			<li><a [routerLink]="['/comparativa/office/NCOC']">Objeto cliente</a></li>
	  		</ul>
	  	</li>
	  	<li><a>ASO</a>
	  		<ul>
	  			<li><a>Net Particulares</a></li>
	  			<li><a>Net Cash</a></li>
	  			<li><a>Móvil</a></li>
	  			<li><a>Oficinas</a></li>
	  		</ul>
	  	</li>
	  	<li><a>APX</a></li>
	  </ul>
  </nav>
  <div class="clearfix"></div>
</header>

  <!-- MOSTRAMOS OTRO COMPONENTE -->
<section>

	<router-outlet></router-outlet>
	<div class="clearfix"></div>
</section>


